<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="prafulmantale.praful.com.imagefinder" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/title_activity_image_finder"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.ImageFinderActivity"
            android:label="@string/title_activity_image_finder" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ImageDisplayActivity"
            android:label="@string/title_activity_image_display"
            android:parentActivityName=".activities.ImageFinderActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="prafulmantale.praful.com.imagefinder.activities.ImageFinderActivity" />
        </activity>
    </application>

</manifest>
